@import "../../base/variables";
.auth {
  min-height: 100vh;
  background: $linear-gradient;
  display: flex;
  align-items: center;
  .customRow{
    justify-content: center;
  }
  .customCard{
    background-color: whitesmoke;
  }
  .errorList{
    margin: 0;
  }
}
